.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.logo {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 100px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: gray;
}
